# Python junk

__pycache__/
*.py[cod]
*$py.class
src/profile.csv

# generated 
towns/*
landowners/*
src/properties-osm.geojson
src/trails-osm.geojson
src/mass-trails.sqlite
src/*.pbf
#scripts/modifiedtime.js
#scripts/search.js
#sitemap.xml
#src/search.json

# has dev key still.
src/findwebsites.py

src/geo/zip